{% extends 'base.html' %}

{% block content %}
  <h1>A simple to-do application</h1>

  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span></li>
      <li><a href="{{ url_for('todos.logout') }}">Log-Out</a></li>
    {% else %}
      <li><a href="{{ url_for('todos.register') }}">Register</a></li>
      <li><a href="{{ url_for('todos.login') }}">Log-In</a></li>
    {% endif %}
    {% if g.user %}
    {% for todo in todos %}
      <li class="{{ "completed" if todo['completed'] }}">
        <form method="POST" ><button type="submit" name="delete" value="{{todo['id']}}">Delete</button> </form>
        <form method="POST"><button type="submit" name="finished" value="{{todo['id']}}">Completed</button></form>

        <form method="POST">
        <button type="submit" name="edit" value="{{todo['id']}}">Edit</button>
        <textarea name="fix" id="fix">{{ request.form['fix'] }}</textarea>
        </form>
        {{ todo['description'] }}
      </li>
    {% endfor %}
    {% for undone in undones %}
      <li>
        {{ undone['description'] }}
      </li>
    {% endfor %}
    {% for done in dones %}
      <li class="{{ "completed" if done['completed'] }}">
        {{ done['description'] }}
      </li>
    {% endfor %}
    {% for update in updates %}
      <li class="{{ "completed" if update['completed'] }}">
        {{ update['description'] }}
      </li>
    {% endfor %}
    {% for private in privates %}
    <li class="{{ "completed" if private['completed'] }}">
      {{ private['description'] }}
    </li>
    {% endfor %}
  </ul>
  <form method="post">
  <textarea name="todo" id="todo">{{ request.form['todo'] }}</textarea>
  <input type="submit" value="Save">
  <input type="submit" name="completed" value="completed">
  <input type="submit" name="uncompleted" value="not-done">
  <input type="submit" name="submit_button" value="all">
  {% endif %}
  </form>
{% endblock %}
